@use '../node_modules/normalize.scss/normalize.scss';
@use './abstract' as *;
@use "./base" as *;
@use './layouts' as *;


@font-face {
  font-family: "Oswald";
  src: url(../src/fonts/Oswald.ttf);
}

@font-face {
  font-family: "Mulish";
  src: url(../src/fonts/Mulish.ttf);
}

@font-face {
  font-family: "Mulish Italic";
  src: url(../src/fonts/Mulish-Italic.ttf);
}


.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
}

.line {
  width: 1px;
  height: 100%;
  background: $color-white;
}

/* HERO SECTION START */

.hero {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 20px;
}

.hero__line__block {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  gap: 12px;
  padding: 60px 25px;

}



.hero__content {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0 20px;
  align-items: center;
  align-self: stretch;

}


.hero__block__1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 160px 0 60px;
  gap: 160px;

  .info__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    gap: 40px;

    &__statistic {
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 60px;
      margin: 0;
      padding: 0;
   

      .statistic__block {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 8px;

        &__numbers {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;

        }
      }
    }
  }


}




.scroll_down {
  display: flex;
  align-self: flex-end;
  gap: 8px;

}

.scroll_icon {
  color: $color-white;
  text-decoration: none;
  padding-right: 32px;
  position: relative;
  @extend %transition;

  @include media-mobile {
    display: none;
  }

  @include media-mobile {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url(../src/img/arrow-down.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @extend %transition;
  }

  &:hover {
    color: $color-red;
    cursor: pointer;

    &::after {
      background-image: url(../src/img/arrow-down-hover.svg);
    }
  }
}

@include media-touch {
  .scroll_icon {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;

    &:hover {
      color: inherit;

      &::after {
        background-image: url(../src/img/arrow-down.svg);
      }
    }


  }
}


.hero__block__2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 0px;
  gap: 4px;

  @include media-tablet {
    display: none;
  }

  @include media-big-tablet {
    display: none;
  }
}


.hero__block__3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 60px 0;
  gap: 120px;
  align-self: stretch;

  p {
    max-width: 220px;
    text-align: right;
  }

  img {
    @include media-tablet {
      max-width: 220px;
      height: auto;
    }

    @include media-mobile {
      max-width: 220px;
      height: auto;
    }
  }

}

// MEDIA HERO

@include media-tablet {
  .hero__content {
    gap: 20px;
  }

  h1 {
    @include font($size: 6.8rem, $height: 8rem, $weight: 300);
  }
}

@include media-mobile {
  .hero {
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .hero__line__block {
    display: none;
  }

  .hero__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px; //добавила
    gap: 20px;

    img {
      width: 100%;
      max-width: 220px;
      height: auto;
      padding: 0;
    }
  }

  h1 {
    @include font($size: 5.6rem, $height: 6.4rem, $weight: 300);
  }

  .hero__block__1 {
    justify-content: center;
    padding: 60px 0px 0px;
    gap: 0;
  }

 

  .hero__block__3 {
    gap: 60px;
    padding: 0px 0px 60px;
    justify-content: center;
    align-self: stretch;

  }
}

/* HERO SECTION END */

/* ABOUT SECTION START */


.about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @include media-tablet {
    flex-direction: column;
  }

  @include media-mobile {
    flex-direction: column;
  }


  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 12px;

  }
}

.about__block:last-child img {
  @include media-big-tablet {
    display: none;
  }

  @include media-tablet {
    display: none;
  }

  @include media-mobile {
    display: none;
  }
}


.about__block img {
  object-fit: cover;
  align-self: center;
  width: 44rem;
  height: 44rem;
  max-width: 44rem;
  max-height: 44rem;


  @include media-tablet {
    width: 72.8rem;
    height: 72.8rem;
    max-width: 72.8rem;
    max-height: 72.8rem;
  }

  @include media-mobile {
    width: 34rem;
    height: 34rem;
    max-width: 34rem;
    max-height: 34rem;
  }
}



/* ABOUT SECTION END */

/* PORTFOLIO SECTION START */
.portfolio {
  background-color: $color-dark;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}


.portfolio__wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 40px;
  box-sizing: border-box;
}


.portfolio__block {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: $content-width;
  max-width: $content-width;

  p {
    max-width: 360px;
  }

  @include media-mobile {
    width: 340px;
  }
}

.slider {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  cursor: grab;
  position: relative;
}


.slider {
  @include slide($direction: row, $padding: 0 20px);
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  gap: 20px;
  overflow-x: auto;  
  scroll-behavior: smooth;
  
}

.slide_1_8 {
  @include slide($direction: row, $padding: 120px 0px 0px);
  justify-content: flex-end;
  margin: 0;
  align-items: flex-end;
  box-sizing: border-box;
}

.slide_2_6_9 {
  @include slide($direction: column);
  justify-content: center;
  align-items: flex-end;
}

.slide_3_5_11 {
  @include slide($direction: column, $padding: 120px 0px 0px);
  align-self: start;
}

.slide_4_12 {
  @include slide($direction: row, $padding: 0px 0px 120px);
  justify-content: flex-end;
  align-items: flex-start;
}


.slide_7_10 {
  @include slide($direction: row);
  align-self: flex-start;
}

/* PORTFOLIO SECTION END */

/* PRICE SECTION START */
.price {
  flex-direction: column;
}

.price__descripton {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 12px;
}

.price__cards__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;

  @include media-tablet {
    padding: 0px;
    gap: 20px;
  }

}

.price__card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 500px;
  padding: 24px;
  gap: 24px;
  border: 1px solid $color-dark;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;

  &:hover {
    border: 1px solid $color-red;

    .button {
      background-color: $color-red;
      color: $color-dark;
      border: none;
      @extend %transition;
      cursor: pointer;
    }
  }
}


@include media-touch {
  .price__card {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;

    &:hover {
      border: 1px solid $color-dark;

      .button {
        background-color: $color-dark;
        color: $color-white;
        transition: none !important;
        animation: none !important;
      }
    }
  }
}


.price__card__package {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    margin: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    gap: 6px;

    &::before {
      width: 6px;
      height: 6px;
      background-color: $color-dark;
      content: "";

    }
  }

}

.price__card__button {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
}

.price__card__slogan {
  font-family: 'Mulish Italic', sans-serif;
  @include font($size: 1.6rem, $weight: 400, $height: 2rem)
}

/* PRICE SECTION END */

/* FAQ SECTION START */
.faq {
  display: flex;
  gap: 40px;
  padding: 60px 20px;
  background-color: $color-dark;
  flex-direction: row;
  align-items: stretch;

  @include media-tablet {
    flex-direction: column;
  }
}



.faq__description {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 12px;
  align-items: flex-start;
  justify-content: start;
  width: 50%;
  flex-grow: 1;

  @include media-mobile {
    width: 100%;
  }

  @include media-tablet {
    width: 100%;
  }
}

.accordion {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-grow: 1;
  align-items: flex-start;
  padding: 0px;

  @include media-tablet {
    width: 100%;
  }
}

.accordion__item {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.accordion__answer {
  margin: 0;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}


.accordion__item.active .accordion__answer {
  display: flex;
  padding: 0px 0px 20px;
}

.accordion__item::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 1px;
  background: $color-white;
}

.accordion__question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  padding: 18px 0;
}

.accordion__question:hover {
  color: $color-red;
  @extend %transition;
  cursor: pointer;
}

@include media-touch {
  .accordion__question {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;

    &:hover {
      color: inherit;
    }
  }
}

// .accordion__item.active .accordion__question:hover {
//   color: white;
//   cursor: pointer;
// }


.minus {
  display: flex;
  background-image: url(../src/img/minus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 24px;
  width: 24px;

}

.plus {
  display: flex;
  background-image: url(../src/img/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 24px;
  width: 24px;
  ;
}

.accordion__question:hover .minus {
  background-image: url(../src/img/minus-hover.svg);
  @extend %transition;
  cursor: pointer;
}

.accordion__question:hover .plus {
  background-image: url(../src/img/plus-hover.svg);
  @extend %transition;
  cursor: pointer;
}


@include media-touch {
  .accordion__question:hover .plus {
    transition: none !important;
    background-image: url(../src/img/plus.svg);
  }
  .accordion__question:hover .minus {
    transition: none !important;
    background-image: url(../src/img/minus.svg);
  }
}

.active {
  display: flex;
  padding: 0;
}

/* FAQ SECTION END */