$color-dark: #222;
$color-white: #fff;
$color-red: #FF3C3C;
$color-grey:#989898;

$content-width: 1440px;
$desktop-width: 2000px;
$big-tablet-width: 1439px;
$tablet-width: 1122px;
$mobile-width: 767px;