@use '../abstract' as *;

/* HEADER  START */

.header {
  display: flex;
  flex-direction: row;
  max-height: 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  @include media-tablet {
    display: flex;
  }

  @include media-mobile {
    display: flex;
  }

}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}