@use '../abstract' as *;

.navigation {
  display: flex;
  list-style: none;
  font-family: 'Oswald';
  text-transform: uppercase;
  @include font($height: 2.4rem, $size: 1.6rem);

 @media (max-width: 1440px) {
  display: flex;
 }

  @media (max-width: 768px) {
  display: none;
 }

  li {
    padding: 0 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: $color-white;

    &:hover {
      text-decoration: none;
      color: $color-red;
      @extend %transition;
      cursor: pointer;
      }
  }
}

@include media-touch {
  .navigation a, .hamburger__menu a {
    transition: none !important;
    animation: none !important;
    scroll-behavior: auto !important;

    &:hover {
      color: inherit; 
    }
  }
}